.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #fff;
  font-family: 'Kanit', sans-serif;
}

* {
  box-sizing: border-box;
}

.icon {
  width: 50px;
}

#container {
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
  margin-inline: 15px;
  padding: 25px;
}

.center {
  text-align: center;
}

.first {
  filter: blur(4.2px);
}

.second {
  filter: blur(4.8px);
}

.third {
  filter: blur(4.3px);
}

.fourth {
  filter: blur(5.5px);
}

.ml {
  margin-left: 8px;
}

.red {
  color: rgb(157, 255, 0);
}

.grid-item {
  width: 150px;
  -webkit-user-drag: none;
  /* Safari */
  -khtml-user-drag: none;
  /* Konqueror HTML */
  -moz-user-drag: none;
  /* Firefox */
  -o-user-drag: none;
  /* Old versions of Opera */
  user-select: none;
}



button {
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: purple;
  font-family: 'Kanit', sans-serif;
  border-radius: 5px;
  font-size: 1.1rem;
  width: 95%;
}

.btn-secondary {
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: crimson;
  font-family: 'Kanit', sans-serif;
  border-radius: 5px;
  font-size: 1.1rem;
  width: 100%;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
}

#submit {
  display: flex;
  justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');